<html>
    <head>
        <meta charset="utf-8">
        <title>This is project page</title>
    </head>
    <body>
        {{> header}}
        <h3>This is a project page!!!!</h3>
        {{> footer}}
    </body>
</html>